[submodule "ffMetadataEx"]
	path = ffMetadataEx
	url = https://github.com/OuterTune/ffMetadataEx
	branch = module
[submodule "media"]
	path = media
	url = https://github.com/nift4/media
	branch = gramophone
[submodule "taglib"]
	path = taglib
	url = ./taglib
